.container {
  width: 70%;
  margin: 0 auto
}

.btn_go {
  width: 150px;
  padding: 9px;
  border-radius: 100px;
  border: none;
  background-color: tomato;
  margin: 5% auto;
  display: block;
  color: #fff;
  font-size: 1em;
  text-transform: capitalize;
}